:root {
 /* --theme-color: white; */
  --primary-color: #124f88;
  --secundary-color: #f7c331;
  --text-color-inverse: white;
  --text-color: white;
  --navbar-shallow-color: #e5e5e5;
  --backblur: blur(3px);
  --backcolor: rgba(8, 13, 16, 0.50);
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/bacground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: var(--text-color);
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.copy-container {
  color: var(--text-color);
  box-shadow: 0 4px 5px var(--navbar-shallow-color); 
  backdrop-filter: var(--backblur);
  background-color: var(--backcolor);
  text-align: center;
  display: flex;
  flex-wrap: wrap; 
}

.copyright {
  font-family: "Montserrat", sans-serif;
  margin-top: auto;
  left: 12em;
  top: 0;
  width: 100%;
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
